.box{
    justify-self: center;
    background-color: rgb(35, 194, 194);
    padding: 20px;
    border-radius: 12px;
    margin-top:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
body{
    background-color: wheat;
}
button{
    padding: 10px;
    border-radius: 5px;
    background-color:bisque;
}
h1{
    margin-bottom: 20px;
}

.bitch{
    width: 200px;
}


